/*
PURCHASES CSS

@author: NOM Prénom
@version: 1.0
@date: 2025-07-31
@description: Code CSS pour la page des demandes d'achats.
*/

:root {
    --light: white;
    --dark: black;
    --crm-primary: #1b296a; /* Obligatoire */
    --crm-secondary: #ed6840; /* Obligatoire */
    --crm-ofp: #7db9da;
    --crm-alert: #cf2d4f;
    --crm-warning: #f6af2e;
    --crm-success: #488287;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   /* Vous pouvez modifier la police */
    background-color: var(--dark);   /* Vous pouvez changer la couleur de fond */
    color: var(--light);   /* Vous pouvez changer la couleur du texte */
}

